.post {
    margin-bottom: 1.2rem;
    position: relative;

    @media (max-width:480px) {
        width: 100vw;
        margin-bottom: 1rem;

    }

    .container {
        padding: 1.2rem;
        -webkit-box-shadow: 0px 0px 56px -16px rgba(153, 151, 153, 1);
        -moz-box-shadow: 0px 0px 56px -16px rgba(153, 151, 153, 1);
        box-shadow: 0px 0px 56px -16px rgba(153, 151, 153, 1);
        border-radius: 10px;

        .user {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .userInfo {
                display: flex;
                align-items: center;
                gap: 1.3rem;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .date {
                        font-size: small;
                        color: gray;
                    }
                }
            }
        }

        .content {
            margin: 1.3rem 0;

            img {
                width: 100%;
                max-height: 32rem;
                object-fit: cover;
                margin-top: 1.2rem;
            }
        }

        .interaction {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .item {
                display: flex;
                align-items: center;
                gap: 0.7rem;

                @media (max-width:375px) {
                    font-size: 0.9rem;
                }
            }
        }

        .deleteModal {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgb(218, 217, 217);
            padding: 3rem;
            width: 40%;
            height: 25%;
            z-index: 999;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (max-width:480px) {
                padding: 3rem 2rem;
                width: 70%;
            }

            span {
                font-size: x-large;
                color: rgb(50, 50, 50);
            }

            .btns {
                display: flex;
                gap: 1.2rem;

                .cancelBtn {
                    padding: 0.8rem;
                    background-color: gray;
                    color: white;
                    border: none;
                    border-radius: 3px;
                    font-weight: bold;
                    cursor: pointer;
                }

                .deleteBtn {
                    padding: 0.8rem;
                    background-color: rgb(252, 114, 114);
                    color: white;
                    border: none;
                    border-radius: 3px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

    }
}