.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    height: 3.2rem;
    border-bottom: 1px solid rgb(172, 203, 237);
    background-color: rgb(237, 237, 244);
    position: sticky;
    top: 0;
    z-index: 1;

    @media (max-width:375px) {}

    @media (max-width:480px) {
        padding: 0.4rem 0.8rem;
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        @media (max-width:375px) {
            gap: 0.4rem;
        }

        @media (max-width:480px) {
            gap: 0.6rem;
        }

        .active {
            .navIcon {
                color: blue;
            }
        }

        span {
            font-weight: bold;
            font-size: 1.3rem;
            color: blue;
            padding: 0;
            margin: 0;

            @media (max-width:375px) {
                font-size: 0.1rem;
            }

            @media (max-width:480px) {
                font-size: 1rem;
            }
        }

        .search {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 5px;
            border: 1px solid lightgray;
            border-radius: 5px;
            background-color: white;

            @media (max-width:480px) {
                padding: 2px;
                gap: 0.2rem;
            }

            input {
                border: none;
                outline: none;
                width: 32rem;

                @media (max-width:480px) {
                    width: 3rem;
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        @media (max-width:480px) {
            gap: 0.6rem;
        }

        .active {
            .navIcon {
                color: blue;
            }
        }

        .user {
            display: flex;
            align-items: center;

            img {
                height: 2.6rem;
                width: 2.6rem;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;

                @media (max-width:375px) {
                    height: 1rem;
                    width: 1rem;
                }

                @media (max-width:480px) {
                    height: 1.7rem;
                    width: 1.7rem;
                }
            }
        }

    }
}

.navbar.scrolled {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.navIcon {
    cursor: pointer;
}